[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pulumi = ">=1.14.1"
pulumi-azure = ">=2.5.0"
pulumi-cloudflare = ">=1.6.0"
azure-storage-blob = "*"

[requires]
python_version = "3.7"
